<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.AreaInfMapper">
	<select id="selectAreaInf_all" resultType="AreaInf">
		select * from AreaInf
	</select>
	<select id="selectAreaInfCname_all" resultType="String">
		select distinct area from AreaInf
	</select>
	
	<select id="selectAreaInfSid_all" resultType="String">
		select distinct sid from AreaInf
	</select>
	
	<select id="selectSid_area" parameterType="String" resultType="String">
		select distinct sid from AreaInf
		where area=#{value}
	</select>
	
	<select id="selectAreaInf_area" parameterType="AreaInfPack" resultType="AreaInf">
		select * from AreaInf
		where area=#{area}
	</select>
	<select id="selectAreaInf_sid"  parameterType="AreaInfPack" resultType="AreaInf">
		select * from AreaInf
		where sid=#{sid}
	</select>
</mapper>
