<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ConceptInfMapper">
	<select id="selectConceptInf_all" resultType="ConceptInf">
		select * from ConceptInf
	</select>
	<select id="selectConceptInfCname_all" resultType="String">
		select distinct cname from ConceptInf
	</select>
	<select id="selectConceptInfSid_all" resultType="String">
		select distinct sid from ConceptInf
	</select>
	<select id="selectSid_concept" parameterType="String" resultType="String">
		select distinct sid from ConceptInf
		where cname=#{value}
	</select>
	<select id="selectConceptInf_cname" parameterType="ConceptInfPack" resultType="ConceptInf">
		select * from ConceptInf
		where cname=#{cname}
	</select>
	<select id="selectConceptInf_sid"  parameterType="ConceptInfPack" resultType="ConceptInf">
		select * from ConceptInf
		where sid=#{sid}
	</select>
</mapper>
