<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.IndiceInfMapper">
	<select id="countIndiceInf" resultType="int">
		select count(*) from anyquant.indiceinf
	</select>
	<select id="selectIndiceInf_e_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id = #{value}
	</select>
	<select id="selectIndiceInf_e_iid" parameterType="String" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where iid = #{value}
	</select>
	<select id="selectIndiceInf_e_iname" parameterType="String" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where iname = #{value}
	</select>
	<select id="selectIndiceInf_ge_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id &gt;= #{value}
	</select>
	<select id="selectIndiceInf_le_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id &lt;= #{value}
	</select>
	<select id="selectIndiceInf_g_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id &gt; #{value}
	</select>
	<select id="selectIndiceInf_l_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id &lt; #{value}
	</select>
	<select id="selectIndiceInf_all" resultType="IndiceInf">
		select * from anyquant.indiceinf
	</select>
</mapper>
