<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.IndiceInfMapper">
	<update id="createIndiceInfTable">
		create table anyquant.indiceinf
		(
			id int(11),
			iid varchar(16) not null primary key,
			iname varchar(32),
			date date,
			hisid int(11) default-1,
			quoid int(11) default-1,
			weekid int(11) default-1,
			weekhisid int(11) default-1,
			weekquoid int(11) default-1,
			monthid int(11) default-1,
			monthhisid int(11) default-1,
			monthquoid int(11) default-1
		)
	</update>
	<update id="dropIndiceInfTable">
		drop table anyquant.indiceinf
	</update>
	<delete id="deleteIndiceInfTable">
		delete from anyquant.indiceinf
	</delete>
	
	<insert id="initIndiceInfTable">
		insert into anyquant.indiceinf
		(id,iid,iname)
		values(0,'sh000001','上证指数'),
		(1,'sh000002','A股指数'),
		(2,'sh000003','B股指数'),
		(3,'sh000004','工业指数'),
		(4,'sh000005','商业指数'),
		(5,'sh000006','地产指数'),
		(6,'sh000007','公用指数'),
		(7,'sh000008','综合指数'),
		(8,'sh000010','上证180'),
		(9,'sh000011','沪市基金'),
		(10,'sh000012','国债指数'),
		(11,'sh000013','企债指数'),
		(12,'sh000015','红利指数'),
		(13,'sh000016','上证50'),
		(14,'sh000017','新综指'),
		(15,'sh000019','治理指数'),
		(16,'sh000042','上证央企'),
		(17,'sh000043','超大盘'),
		(18,'sh000049','上证民企'),
		(19,'sh000054','上证海外'),
		(20,'sh000055','上证地企'),
		(21,'sh000056','上证国企'),
		(22,'sh000057','全指成长'),
		(23,'sh000058','全指价值'),
		(24,'sh000059','全R成长'),
		(25,'sh000060','全R价值'),
		(26,'sh000061','沪企债30'),
		(27,'sh000062','上证沪企'),
		(28,'sh000063','上证周期'),
		(29,'sh000064','非周期'),
		(30,'sh000066','上证商品'),
		(31,'sh000067','上证新兴'),
		(32,'sh000159','沪股通'),
		(33,'sh000300','沪深300'),
		(34,'sh000902','中证流通'),
		(35,'sh000903','中证100'),
		(36,'sh000905','中证500'),
		(37,'sh000906','中证800'),
		(38,'sh000914','300金融'),
		(39,'sh000922','中证红利'),
		(40,'sh000923','公司债'),
		(41,'sh000926','央证央企（上）'),
		(42,'sh000927','央企100（上）'),
		(43,'sh000964','中证新兴'),
		(44,'sh000999','两岸三地'),
		(45,'sz399001','深证成指'),
		(46,'sz399002','深成指R'),
		(47,'sz399003','成份B股'),
		(48,'sz399004','深证100R'),
		(49,'sz399005','中小板指'),
		(50,'sz399006','创业板指'),
		(51,'sz399007','深证300'),
		(52,'sz399008','中小300'),
		(53,'sz399101','中小板综'),
		(54,'sz399102','创业板综'),
		(55,'sz399106','深证综指'),
		(56,'sz399107','深证A指'),
		(57,'sz399108','深证B指'),
		(58,'sz399300','沪深300'),
		(59,'sz399305','深市基金'),
		(60,'sz399352','深报综指'),
		(61,'sz399369','CBN兴全'),
		(62,'sz399481','企债指数'),
		(63,'sz399606','创业板R'),
		(64,'sz399926','中证央企（深）'),
		(65,'sz399927','央企100（深）');
	</insert>
	
	<insert id="insertIndiceInf_single" parameterType="IndiceInf">
		insert into anyquant.indiceinf
		(id,iid,iname,date,hisid,quoid,weekid,weekhisid,weekquoid,monthid,monthhisid,monthquoid)
		values(#{id},#{iid},#{iname},#{date},#{hisid},#{quoid},#{weekid},#{weekhisid},#{weekquoid},#{monthid},#{monthhisid},#{monthquoid})
	</insert>
	<insert id="insertIndiceInf_list" parameterType="List">
		insert into anyquant.indiceinf
		(id,iid,iname,date,hisid,quoid,weekid,weekhisid,weekquoid,monthid,monthhisid,monthquoid)
		values
		<foreach collection="list" item="indiceInf" index="index" separator=",">
			(#{indiceInf.id},#{indiceInf.iid},#{indiceInf.iname},#{indiceInf.date},#{indiceInf.hisid},#{indiceInf.quoid},#{indiceInf.weekid},#{indiceInf.weekhisid},#{indiceInf.weekquoid},#{indiceInf.monthid},#{indiceInf.monthhisid},#{indiceInf.monthquoid})		
		</foreach>
	</insert>
	
	<delete id="deleteIndiceInf_e_id" parameterType="int">
		delete from anyquant.indiceinf
		where id = #{value}
	</delete>
	<delete id="deleteIndiceInf_e_iid" parameterType="String">
		delete from anyquant.indiceinf
		where iid = #{value}
	</delete>
	<delete id="deleteIndiceInf_e_iname" parameterType="String">
		delete from anyquant.indiceinf
		where iname = #{value}
	</delete>
	
	<update id="updateIndiceInfDateHWMid_e_iid" parameterType="IndiceInf">
		update anyquant.indiceInf
		set date=#{date},hisid=#{hisid},weekid=#{weekid},monthid=#{monthid}
		where iid=#{iid}
	</update>
	<update id="updateIndiceInfQuoid_e_iid" parameterType="IndiceInf">
		update anyquant.indiceInf
		set quoid=#{quoid}
		where iid=#{iid}
	</update>
	<update id="updateIndiceInfWeekhisid_e_iid" parameterType="IndiceInf">
		update anyquant.indiceInf
		set weekhisid=#{weekhisid}
		where iid=#{iid}
	</update>
	<update id="updateIndiceInfWeekquoid_e_iid" parameterType="IndiceInf">
		update anyquant.indiceInf
		set weekquoid=#{weekquoid}
		where iid=#{iid}
	</update>
	<update id="updateIndiceInfMonthhisid_e_iid" parameterType="IndiceInf">
		update anyquant.indiceInf
		set monthhisid=#{monthhisid}
		where iid=#{iid}
	</update>
	<update id="updateIndiceInfMonthquoid_e_iid" parameterType="IndiceInf">
		update anyquant.indiceInf
		set monthquoid=#{monthquoid}
		where iid=#{iid}
	</update>

	<select id="countIndiceInf" resultType="int">
		select count(*) from anyquant.indiceinf
	</select>
	<select id="selectIndiceInf_e_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id = #{value}
	</select>
	<select id="selectIndiceInf_e_iid" parameterType="String" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where iid = #{value}
	</select>
	<select id="selectIndiceInf_e_iname" parameterType="String" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where iname = #{value}
	</select>
	<select id="selectIndiceInf_ge_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id &gt;= #{value}
	</select>
	<select id="selectIndiceInf_le_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id &lt;= #{value}
	</select>
	<select id="selectIndiceInf_g_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id &gt; #{value}
	</select>
	<select id="selectIndiceInf_l_id" parameterType="int" resultType="IndiceInf">
		select * from anyquant.indiceinf
		where id &lt; #{value}
	</select>
	<select id="selectIndiceInf_all" resultType="IndiceInf">
		select * from anyquant.indiceinf
	</select>
</mapper>
