<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.IndustryInfMapper">
	<select id="selectIndustryInf_all" resultType="IndustryInf">
		select * from IndustryInf
	</select>
	<select id="selectIndustryInfCname_all" resultType="String">
		select distinct cname from IndustryInf
	</select>
	<select id="selectIndustryInfSid_all" resultType="String">
		select distinct sid from IndustryInf
	</select>
	<select id="selectSid_industry" parameterType="String" resultType="String">
		select distinct sid from IndustryInf
		where cname=#{value}
	</select>
	
	<select id="selectIndustryInf_cname" parameterType="IndustryInfPack" resultType="IndustryInf">
		select * from IndustryInf
		where cname=#{cname}
	</select>
	<select id="selectIndustryInf_sid"  parameterType="IndustryInfPack" resultType="IndustryInf">
		select * from IndustryInf
		where sid=#{sid}
	</select>
</mapper>
