<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MonthQDataMapper">
	<select id="countMonthQData_b_date" parameterType="DatePack" resultType="int">
		select count(*) from anyquant.MonthQdata_${siid}
		where date &gt;= #{date1} and date &lt;= #{date2}
	</select>
	<select id="selectMonthQData_num_date" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		<where> 
			(
				select max(monthid) from anyquant.MonthQdata_${siid}
				where date &lt;= #{date1}
			) between monthid and monthid+#{num}-1
		</where>
		order by monthid
	</select>
	<select id="selectMonthQData_e_date" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where date=#{date1}
	</select>
	<select id="selectMonthQData_ge_date" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where date &gt;= #{date1}
		order by monthid
	</select>
	<select id="selectMonthQData_le_date" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where date &lt;= #{date1}
		order by monthid
	</select>
	<select id="selectMonthQData_g_date" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where date &gt; #{date1}
		order by monthid
	</select>
	<select id="selectMonthQData_l_date" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where date &lt; #{date1}
		order by monthid
	</select>
	<select id="selectMonthQData_b_date" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where date &gt;= #{date1} and date &lt;= #{date2}
		order by monthid
	</select>
	
	<select id="selectMonthQData_num_monthid" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where monthid between #{id1}-#{num}+1 and #{id1} 
		order by monthid
	</select>
	<select id="selectMonthQData_e_monthid" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where monthid = #{id1}
	</select>
	<select id="selectMonthQData_le_monthid" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where monthid &lt;= #{id1}
		order by monthid
	</select>
	<select id="selectMonthQData_b_monthid" parameterType="DatePack" resultType="QuotaData">
		select monthid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.MonthQdata_${siid}
		where monthid between #{id1} and #{id2}
		order by monthid
	</select>
</mapper>
