<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.MonthHDataMapper">
	<select id="selectMonthHData_e_monthid" parameterType="DatePack" resultType="HistoryData">
		select * from anyquant.monthhdata_${siid}
		where monthid=#{id1}
		order by monthid
	</select>
	<select id="selectMonthHData_le_monthid" parameterType="DatePack" resultType="HistoryData">
		select * from anyquant.monthhdata_${siid}
		where monthid &lt;= #{id1}
		order by monthid
	</select>
	<select id="selectMonthHData_num_monthid" parameterType="DatePack" resultType="HistoryData">
		select * from anyquant.monthhdata_${siid}
		where monthid between #{id1}-#{num}+1 and #{id1}
		order by monthid
	</select>
	
	<select id="selectMonthHData_b_date" parameterType="DatePack" resultType="HistoryData">
		select * from anyquant.monthhdata_${siid}
		where date between #{date1} and #{date2}
		order by monthid
	</select>
	
</mapper>