<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.QuotaDataMapper">
	<update id="dropAll" parameterType="List">
		<foreach collection="list" item="stockInf" index="index" open="" close="" separator=";">
			drop table anyquant.quotaData_${stockInf.sid}
		</foreach>
	</update>
	<update id="createQuotaDataTable" parameterType="String">
		create table anyquant.quotaData_${value}
		(
			id int(11) not null primary key,
			date date not null,
			m5 double default 0,
			m10 double default 0,
			m20 double default 0,
			m30 double default 0,
			bias5 double default 0,
			bias10 double default 0,
			bias20 double default 0,
			boll1 double default 0,
			boll2 double default 0,
			boll3 double default 0,
			rsi double default 0,
			rsi5 double default 0,
			rsi10 double default 0,
			rsi20 double default 0,
			vr double default 0,
			rsv double default 0,
			k double default 50,
			d double default 50,
			j double default 0,
			ema12 double default 0,
			ema26 double default 0,
			ema50 double default 0,
			ema5 double default 0,
			ema35 double default 0,
			ema10 double default 0,
			ema60 double default 0,
			diff double default 0,
			dea double default 0,
			macd double default 0,
			dmh double default 0,
			dml double default 0,
			tr double default 0,
			dmh12 double default 0,
			dml12 double default 0,
			tr12 double default 0,
			dih double default 0,
			dil double default 0,
			dih12 double default 0,
			dil12 double default 0,
			dx double default 0,
			adx double default 0,
			adxr double default 0,
			obv double default 0,
			roc12 double default 0,
			roc25 double default 0
		)
	</update>
	<update id="dropQuotaDataTable" parameterType="String">
		drop table anyquant.quotaData_${value}
	</update>
	
	<insert id="insertQuotaData_single" parameterType="QuotaDataPack">
		insert into anyquant.quotadata_${siid}
		(id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25)
		values(#{quotaData1.id},#{quotaData1.date},#{quotaData1.m5},#{quotaData1.m10},#{quotaData1.m20},#{quotaData1.m30},
			#{quotaData1.bias5},#{quotaData1.bias10},#{quotaData1.bias20},#{quotaData1.boll1},#{quotaData1.boll2},#{quotaData1.boll3},
			#{quotaData1.rsi},#{quotaData1.rsi5},#{quotaData1.rsi10},#{quotaData1.rsi20},#{quotaData1.vr},#{quotaData1.rsv},#{quotaData1.k},#{quotaData1.d},#{quotaData1.j},
			#{quotaData1.ema12},#{quotaData1.ema26},#{quotaData1.ema50},#{quotaData1.ema5},#{quotaData1.ema35},#{quotaData1.ema10},#{quotaData1.ema60},
			#{quotaData1.diff},#{quotaData1.dea},#{quotaData1.macd},
			#{quotaData1.dmh},#{quotaData1.dml},#{quotaData1.tr},#{quotaData1.dmh12},#{quotaData1.dml12},#{quotaData1.tr12},#{quotaData1.dih},#{quotaData1.dil},#{quotaData1.dih12},#{quotaData1.dil12},#{quotaData1.dx},#{quotaData1.adx},#{quotaData1.adxr},
			#{quotaData1.obv},#{quotaData1.roc12},#{quotaData1.roc25})
	</insert>
	<insert id="insertQuotaData_list" parameterType="QuotaDataPack">
		insert into anyquant.quotadata_${siid}
		(id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25)
		values
			<foreach collection="list" item="quotaData" index="index" separator="," >  
				(#{quotaData.id},#{quotaData.date},#{quotaData.m5},#{quotaData.m10},#{quotaData.m20},#{quotaData.m30},
					#{quotaData.bias5},#{quotaData.bias10},#{quotaData.bias20},#{quotaData.boll1},#{quotaData.boll2},#{quotaData.boll3},
					#{quotaData.rsi},#{quotaData.rsi5},#{quotaData.rsi10},#{quotaData.rsi20},#{quotaData.vr},#{quotaData.rsv},#{quotaData.k},#{quotaData.d},#{quotaData.j},
					#{quotaData.ema12},#{quotaData.ema26},#{quotaData.ema50},#{quotaData.ema5},#{quotaData.ema35},#{quotaData.ema10},#{quotaData.ema60},
					#{quotaData.diff},#{quotaData.dea},#{quotaData.macd},
					#{quotaData.dmh},#{quotaData.dml},#{quotaData.tr},#{quotaData.dmh12},#{quotaData.dml12},#{quotaData.tr12},#{quotaData.dih},#{quotaData.dil},#{quotaData.dih12},#{quotaData.dil12},#{quotaData.dx},#{quotaData.adx},#{quotaData.adxr},
					#{quotaData.obv},#{quotaData.roc12},#{quotaData.roc25})
		   	</foreach>
   	</insert>

	<delete id="deleteQuotaData_e_date" parameterType="DatePack">
		delete from anyquant.quotadata_${siid}
		where date=#{date1}
	</delete>
	
	<select id="countQuotaData_b_date" parameterType="DatePack" resultType="int">
		select count(*) from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
	</select>

	<select id="selectQuotaData_new" parameterType="String" resultType="QuotaData">
		select * from anyquant.quotadata_${value}
		where id=
		(
			select max(id) from anyquant.quotadata_${value}
			where date &lt;= #{date1}
		)
	</select>	
	<select id="selectQuotaData_latest" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where id=
		(
			select max(id) from anyquant.quotadata_${siid}
			where date &lt;= #{date1}
		)
	</select>
	
	<select id="selectQuotaData_num_date" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.quotadata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
		order by id
	</select>
	<select id="selectQuotaData_e_date" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where date=#{date1}
	</select>
	<select id="selectQuotaData_ge_date" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where date &gt;= #{date1}
		order by id
	</select>
	<select id="selectQuotaData_le_date" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where date &lt;= #{date1}
		order by id
	</select>
	<select id="selectQuotaData_g_date" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where date &gt; #{date1}
		order by id
	</select>
	<select id="selectQuotaData_l_date" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where date &lt; #{date1}
		order by id
	</select>
	<select id="selectQuotaData_b_date" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	
	<select id="selectQuotaData_num_id" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1}
		order by id 
	</select>
	<select id="selectQuotaData_e_id" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where id = #{id1}
	</select>
	<select id="selectQuotaData_le_id" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where id &lt;= #{id1}
		order by id
	</select>
	<select id="selectQuotaData_b_id" parameterType="DatePack" resultType="QuotaData">
		select * from anyquant.quotadata_${siid}
		where id between #{id1} and #{id2}
		order by id
	</select>
	
	<select id="selectBias5Max_b_date" parameterType="DatePack" resultType="double">
		select max(bias5) from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
	</select>
	<select id="selectBias5Min_b_date" parameterType="DatePack" resultType="double">
		select min(bias5) from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
	</select>
	<select id="selectBias10Max_b_date" parameterType="DatePack" resultType="double">
		select max(bias10) from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
	</select>
	<select id="selectBias10Min_b_date" parameterType="DatePack" resultType="double">
		select min(bias10) from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
	</select>
	<select id="selectBias20Max_b_date" parameterType="DatePack" resultType="double">
		select max(bias20) from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
	</select>
	<select id="selectBias20Min_b_date" parameterType="DatePack" resultType="double">
		select min(bias20) from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
	</select>
	
	<select id="selectBias5Posi_12_b_date" parameterType="DatePack" resultType="double">
		select bias5 from anyquant.quotadata_${siid}
		where bias5 &gt; 0 and date between #{date1} and #{date2}
		order by bias5 asc
	</select>
	<select id="selectBias5Posi_21_b_date" parameterType="DatePack" resultType="double">
		select bias5 from anyquant.quotadata_${siid}
		where bias5 &gt; 0 and date between #{date1} and #{date2}
		order by bias5 desc
	</select>
	<select id="selectBias5Nega_12_b_date" parameterType="DatePack" resultType="double">
		select bias5 from anyquant.quotadata_${siid}
		where bias5 &lt; 0 and date between #{date1} and #{date2}
		order by bias5 asc
	</select>
	<select id="selectBias5Nega_21_b_date" parameterType="DatePack" resultType="double">
		select bias5 from anyquant.quotadata_${siid}
		where bias5 &lt; 0 and date between #{date1} and #{date2}
		order by bias5 desc
	</select>
	
	<select id="selectBias10Posi_12_b_date" parameterType="DatePack" resultType="double">
		select bias10 from anyquant.quotadata_${siid}
		where bias10 &gt; 0 and date between #{date1} and #{date2}
		order by bias10 asc
	</select>
	<select id="selectBias10Posi_21_b_date" parameterType="DatePack" resultType="double">
		select bias10 from anyquant.quotadata_${siid}
		where bias10 &gt; 0 and date between #{date1} and #{date2}
		order by bias10 desc
	</select>
	<select id="selectBias10Nega_12_b_date" parameterType="DatePack" resultType="double">
		select bias10 from anyquant.quotadata_${siid}
		where bias10 &lt; 0 and date between #{date1} and #{date2}
		order by bias10 asc
	</select>
	<select id="selectBias10Nega_21_b_date" parameterType="DatePack" resultType="double">
		select bias10 from anyquant.quotadata_${siid}
		where bias10 &lt; 0 and date between #{date1} and #{date2}
		order by bias10 desc
	</select>
	
	<select id="selectBias20Posi_12_b_date" parameterType="DatePack" resultType="double">
		select bias20 from anyquant.quotadata_${siid}
		where bias20 &gt; 0 and date between #{date1} and #{date2}
		order by bias20 asc
	</select>
	<select id="selectBias20Posi_21_b_date" parameterType="DatePack" resultType="double">
		select bias20 from anyquant.quotadata_${siid}
		where bias20 &gt; 0 and date between #{date1} and #{date2}
		order by bias20 desc
	</select>
	<select id="selectBias20Nega_12_b_date" parameterType="DatePack" resultType="double">
		select bias20 from anyquant.quotadata_${siid}
		where bias20 &lt; 0 and date between #{date1} and #{date2}
		order by bias20 asc
	</select>
	<select id="selectBias20Nega_21_b_date" parameterType="DatePack" resultType="double">
		select bias20 from anyquant.quotadata_${siid}
		where bias20 &lt; 0 and date between #{date1} and #{date2}
		order by bias20 desc
	</select>
	
	<select id="selectRsi_12_b_date" parameterType="DatePack" resultType="double">
		select rsi from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
		order by rsi asc
	</select>
	<select id="selectRsi5_12_b_date" parameterType="DatePack" resultType="double">
		select rsi5 from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
		order by rsi5 asc
	</select>
	<select id="selectRsi10_12_b_date" parameterType="DatePack" resultType="double">
		select rsi10 from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
		order by rsi10 asc
	</select>
	<select id="selectRsi20_12_b_date" parameterType="DatePack" resultType="double">
		select rsi20 from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
		order by rsi20 asc
	</select>
	<select id="selectObv_num_date" parameterType="DatePack" resultType="double">
		select obv from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectObv_num_id" parameterType="DatePack" resultType="double">
		select obv from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectBoll1_num_date" parameterType="DatePack" resultType="double">
		select boll1 from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectBoll1_num_id" parameterType="DatePack" resultType="double">
		select boll1 from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectBoll2_num_date" parameterType="DatePack" resultType="double">
		select boll2 from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectBoll2_num_id" parameterType="DatePack" resultType="double">
		select boll2 from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectBoll3_num_date" parameterType="DatePack" resultType="double">
		select boll3 from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectBoll3_num_id" parameterType="DatePack" resultType="double">
		select boll3 from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectRoc12_num_date" parameterType="DatePack" resultType="double">
		select roc12 from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectRoc12_num_id" parameterType="DatePack" resultType="double">
		select roc12 from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectRoc12_12_b_date" parameterType="DatePack" resultType="double">
		select roc12 from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
		order by roc12 asc
	</select>
	<select id="selectRoc25_num_date" parameterType="DatePack" resultType="double">
		select roc25 from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectRoc25_num_id" parameterType="DatePack" resultType="double">
		select Roc25 from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
		<select id="selectRoc25_12_b_date" parameterType="DatePack" resultType="double">
		select roc25 from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
		order by roc25 asc
	</select>
	<select id="selectDmh_num_date" parameterType="DatePack" resultType="double">
		select dmh from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectDmh_num_id" parameterType="DatePack" resultType="double">
		select dmh from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectDml_num_date" parameterType="DatePack" resultType="double">
		select dml from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectDmi_num_id" parameterType="DatePack" resultType="double">
		select dmi from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectDih_num_date" parameterType="DatePack" resultType="double">
		select dih from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectDih_num_id" parameterType="DatePack" resultType="double">
		select dih from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectDil_num_date" parameterType="DatePack" resultType="double">
		select dil from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectDil_num_id" parameterType="DatePack" resultType="double">
		select dil from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectDih12_num_date" parameterType="DatePack" resultType="double">
		select dih12 from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectDih12_num_id" parameterType="DatePack" resultType="double">
		select dih12 from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
		order by id asc
	</select>
	<select id="selectDil12_num_date" parameterType="DatePack" resultType="double">
		select dil12 from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectDil12_num_id" parameterType="DatePack" resultType="double">
		select dil12 from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
		order by id asc
	</select>
	<select id="selectDx_num_date" parameterType="DatePack" resultType="double">
		select dx from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectDx_num_id" parameterType="DatePack" resultType="double">
		select dx from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectAdx_num_date" parameterType="DatePack" resultType="double">
		select adx from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectAdx_num_id" parameterType="DatePack" resultType="double">
		select adx from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectAdxr_num_date" parameterType="DatePack" resultType="double">
		select adxr from anyquant.quotadata_${siid}
		<where> 
			(
				select max(id) from anyquant.historydata_${siid}
				where date &lt;= #{date1}
			) between id and id+#{num}-1
		</where>
	</select>
	<select id="selectAdxr_num_id" parameterType="DatePack" resultType="double">
		select adxr from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectDiff_num_id" parameterType="DatePack" resultType="double">
		select diff from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectDea_num_id" parameterType="DatePack" resultType="double">
		select dea from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	<select id="selectMacd_num_id" parameterType="DatePack" resultType="double">
		select macd from anyquant.quotadata_${siid}
		where id between #{id1}-#{num}+1 and #{id1} 
	</select>
	
	<select id="selectVr_12_b_date" parameterType="DatePack" resultType="double">
		select vr from anyquant.quotadata_${siid}
		where date between #{date1} and #{date2}
		order by vr asc
	</select>
</mapper>
