<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.StockInfMapper">
	<update id="createStockInfTable">
		create table anyquant.stockinf
		(
			id int(11),
			sid varchar(16) not null primary key,
			sname varchar(32),
			date date,
			hisid int(11) not null default-1,
			quoid int(11) not null default-1,
			weekid int(11) not null default-1,
			weekhisid int(11) not null default-1,
			weekquoid int(11) not null default-1,
			monthid int(11) not null default-1,
			monthhisid int(11) not null default-1,
			monthquoid int(11) not null default-1
		)
	</update>
	<update id="dropStockInfTable">
		drop table anyquant.stockinf
	</update>
	<delete id="initStockInfTable">
		delete from anyquant.stockinf
	</delete>
	
	<insert id="insertStockInf_single" parameterType="StockInf">
		insert into anyquant.stockinf
		(id,sid,sname,date,hisid,quoid,weekid,weekhisid,weekquoid,monthid,monthhisid,monthquoid)
		values(#{id},#{sid},#{sname},#{date},#{hisid},#{quoid},#{weekid},#{weekhisid},#{weekquoid},#{monthid},#{monthhisid},#{monthquoid})
	</insert>
	<insert id="insertStockInf_list" parameterType="List">
		insert into anyquant.stockinf
		(id,sid,sname,date,hisid,quoid,weekid,weekhisid,weekquoid,monthid,monthhisid,monthquoid)
		values
		<foreach collection="list" item="stockInf" index="index" separator=",">
			(#{stockInf.id},#{stockInf.sid},#{stockInf.sname},#{stockInf.date},#{stockInf.hisid},#{stockInf.quoid},#{stockInf.weekid},#{stockInf.weekhisid},#{stockInf.weekquoid},#{stockInf.monthid},#{stockInf.monthhisid},#{stockInf.monthquoid})		
		</foreach>
	</insert>
	
	<delete id="deleteStockInf_e_id" parameterType="int">
		delete from anyquant.stockinf
		where id = #{value}
	</delete>
	<delete id="deleteStockInf_e_sid" parameterType="String">
		delete from anyquant.stockinf
		where sid = #{value}
	</delete>
	<delete id="deleteStockInf_e_sname" parameterType="String">
		delete from anyquant.stockinf
		where sname = #{value}
	</delete>
	
	<update id="updateStockInfDateHWMid_e_sid" parameterType="StockInf">
		update anyquant.stockinf
		set date=#{date},hisid=#{hisid},weekid=#{weekid},monthid=#{monthid}
		where sid=#{sid}
	</update>
	<update id="updateStockInfQuoid_e_sid" parameterType="StockInf">
		update anyquant.stockinf
		set quoid=#{quoid}
		where sid=#{sid}
	</update>
	<update id="updateStockInfWeekhisid_e_sid" parameterType="StockInf">
		update anyquant.stockInf
		set weekhisid=#{weekhisid}
		where sid=#{sid}
	</update>
	<update id="updateStockInfWeekquoid_e_sid" parameterType="StockInf">
		update anyquant.stockInf
		set weekquoid=#{weekquoid}
		where sid=#{sid}
	</update>
	<update id="updateStockInfMonthhisid_e_sid" parameterType="StockInf">
		update anyquant.stockInf
		set monthhisid=#{monthhisid}
		where sid=#{sid}
	</update>
	<update id="updateStockInfMonthquoid_e_sid" parameterType="StockInf">
		update anyquant.stockInf
		set monthquoid=#{monthquoid}
		where sid=#{sid}
	</update>
	<select id="countStockInf" resultType="int">
		select count(*) from anyquant.stockinf
	</select>
	<select id="selectStockInf_e_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id = #{value}
	</select>
	<select id="selectStockInf_e_sid" parameterType="String" resultType="StockInf">
		select * from anyquant.stockinf
		where sid = #{value}
	</select>
	<select id="selectStockInf_e_sname" parameterType="String" resultType="StockInf">
		select * from anyquant.stockinf
		where sname = #{value}
	</select>
	<select id="selectStockInf_ge_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id &gt;= #{value}
		order by id
	</select>
	<select id="selectStockInf_le_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id &lt;= #{value}
		order by id
	</select>
	<select id="selectStockInf_g_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id &gt; #{value}
		order by id
	</select>
	<select id="selectStockInf_l_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id &lt; #{value}
		order by id
	</select>
	<select id="selectStockInf_all" resultType="StockInf">
		select * from anyquant.stockinf
		order by id
	</select>
	<select id="selectStockInf_sid" resultType="String">
		select sid from anyquant.stockinf
	</select>
</mapper>
