<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.StockInfMapper">
	<select id="countStockInf" resultType="int">
		select count(*) from anyquant.stockinf
	</select>
	<select id="selectStockInf_e_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id = #{value}
	</select>
	<select id="selectStockInf_e_sid" parameterType="String" resultType="StockInf">
		select * from anyquant.stockinf
		where sid = #{value}
	</select>
	<select id="selectStockInf_e_sname" parameterType="String" resultType="StockInf">
		select * from anyquant.stockinf
		where sname = #{value}
	</select>
	<select id="selectStockInf_ge_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id &gt;= #{value}
		order by id
	</select>
	<select id="selectStockInf_le_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id &lt;= #{value}
		order by id
	</select>
	<select id="selectStockInf_g_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id &gt; #{value}
		order by id
	</select>
	<select id="selectStockInf_l_id" parameterType="int" resultType="StockInf">
		select * from anyquant.stockinf
		where id &lt; #{value}
		order by id
	</select>
	<select id="selectStockInf_all" resultType="StockInf">
		select * from anyquant.stockinf
		order by id
	</select>
	<select id="selectStockInf_sid" resultType="String">
		select sid from anyquant.stockinf
	</select>
</mapper>
