<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserInfMapper">
	<insert id="signUp" parameterType="UserInf">
		insert into UserInf(userName,password)
		values(#{userName},#{password})
	</insert>
	<select id="select" parameterType="String" resultType="UserInf">
		select * from UserInf where userName=#{value}
	</select>
	<update id="modifyUserName" parameterType="ModifyPack">
		update UserInf set userName=#{str_new} where userName=#{str_key}
	</update>
	<update id="modifyPassword" parameterType="UserInf">
		update UserInf set password=#{password} where userName=#{userName}
	</update>
	<update id="modifyScoreRank" parameterType="UserInf">
		update UserInf set score=#{score},rank=#{rank} where userName=#{userName}
	</update>
	<update id="modifyStocks" parameterType="UserInf">
		update UserInf set stocks=#{stocks}
		where userName=#{userName}
	</update>
</mapper>
