<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.WeekQDataMapper">
	<select id="countWeekQData_b_date" parameterType="DatePack" resultType="int">
		select count(*) from WeekQdata_${siid}
		where date &gt;= #{date1} and date &lt;= #{date2}
	</select>
	<select id="selectWeekQData_num_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		<where> 
			(
				select max(weekid) from WeekQdata_${siid}
				where date &lt;= #{date1}
			) between weekid and weekid+#{num}-1
		</where>
		order by weekid
	</select>
	<select id="selectWeekQData_e_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where date=#{date1}
	</select>
	<select id="selectWeekQData_ge_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where date &gt;= #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_le_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where date &lt;= #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_g_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where date &gt; #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_l_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where date &lt; #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_b_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where date &gt;= #{date1} and date &lt;= #{date2}
		order by weekid
	</select>
	
	<select id="selectWeekQData_num_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where weekid between #{id1}-#{num}+1 and #{id1} 
		order by weekid
	</select>
	<select id="selectWeekQData_e_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where weekid = #{id1}
	</select>
	<select id="selectWeekQData_le_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where weekid &lt;= #{id1}
		order by weekid
	</select>
	<select id="selectWeekQData_b_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from WeekQdata_${siid}
		where weekid between #{id1} and #{id2}
		order by weekid
	</select>
	
	<select id="selectM5" parameterType="DatePack" resultType="Double">
		select m5 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectM10" parameterType="DatePack" resultType="Double">
		select m10 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectM20" parameterType="DatePack" resultType="Double">
		select m20 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectM30" parameterType="DatePack" resultType="Double">
		select m30 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectBias5" parameterType="DatePack" resultType="Double">
		select bias5 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectBias10" parameterType="DatePack" resultType="Double">
		select bias10 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectBias20" parameterType="DatePack" resultType="Double">
		select bias20 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectBoll1" parameterType="DatePack" resultType="Double">
		select boll1 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectBoll2" parameterType="DatePack" resultType="Double">
		select boll2 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectBoll3" parameterType="DatePack" resultType="Double">
		select boll3 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectRsi" parameterType="DatePack" resultType="Double">
		select rsi from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectRsi5" parameterType="DatePack" resultType="Double">
		select rsi5 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectRsi10" parameterType="DatePack" resultType="Double">
		select rsi10 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectRsi20" parameterType="DatePack" resultType="Double">
		select rsi20 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectVr" parameterType="DatePack" resultType="Double">
		select vr from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectRsv" parameterType="DatePack" resultType="Double">
		select rsv from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectK" parameterType="DatePack" resultType="Double">
		select k from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectD" parameterType="DatePack" resultType="Double">
		select d from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectJ" parameterType="DatePack" resultType="Double">
		select  from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectEma12" parameterType="DatePack" resultType="Double">
		select ema12 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectEma26" parameterType="DatePack" resultType="Double">
		select ema26 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectEma50" parameterType="DatePack" resultType="Double">
		select ema50 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectEma5" parameterType="DatePack" resultType="Double">
		select ma5 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectEma35" parameterType="DatePack" resultType="Double">
		select ema35 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectEma10" parameterType="DatePack" resultType="Double">
		select ma10 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectEma60" parameterType="DatePack" resultType="Double">
		select ema60 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDiff" parameterType="DatePack" resultType="Double">
		select diff from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDea" parameterType="DatePack" resultType="Double">
		select dea from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectMacd" parameterType="DatePack" resultType="Double">
		select macd from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDmh" parameterType="DatePack" resultType="Double">
		select dmh from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDml" parameterType="DatePack" resultType="Double">
		select dml from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectTr" parameterType="DatePack" resultType="Double">
		select tr from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDmh12" parameterType="DatePack" resultType="Double">
		select dmh12 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDml12" parameterType="DatePack" resultType="Double">
		select dml12 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectTr12" parameterType="DatePack" resultType="Double">
		select tr12 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDih" parameterType="DatePack" resultType="Double">
		select dih from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDil" parameterType="DatePack" resultType="Double">
		select dil from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDih12" parameterType="DatePack" resultType="Double">
		select dih12 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDil12" parameterType="DatePack" resultType="Double">
		select dil12 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectDx" parameterType="DatePack" resultType="Double">
		select dx from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectAdx" parameterType="DatePack" resultType="Double">
		select adx from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectAdxr" parameterType="DatePack" resultType="Double">
		select adxr from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectObv" parameterType="DatePack" resultType="Double">
		select obv from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectRoc12" parameterType="DatePack" resultType="Double">
		select roc12 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
	<select id="selectRoc25" parameterType="DatePack" resultType="Double">
		select roc25 from WeekQData_${siid}
		where date between #{date1} and #{date2}
		order by id
	</select>
</mapper>
