<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.WeekQDataMapper">
	<select id="countWeekQData_b_date" parameterType="DatePack" resultType="int">
		select count(*) from anyquant.WeekQdata_${siid}
		where date &gt;= #{date1} and date &lt;= #{date2}
	</select>
	<select id="selectWeekQData_num_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		<where> 
			(
				select max(weekid) from anyquant.WeekQdata_${siid}
				where date &lt;= #{date1}
			) between weekid and weekid+#{num}-1
		</where>
		order by weekid
	</select>
	<select id="selectWeekQData_e_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date=#{date1}
	</select>
	<select id="selectWeekQData_ge_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &gt;= #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_le_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &lt;= #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_g_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &gt; #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_l_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &lt; #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_b_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &gt;= #{date1} and date &lt;= #{date2}
		order by weekid
	</select>
	
	<select id="selectWeekQData_num_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where weekid between #{id1}-#{num}+1 and #{id1} 
		order by weekid
	</select>
	<select id="selectWeekQData_e_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where weekid = #{id1}
	</select>
	<select id="selectWeekQData_le_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where weekid &lt;= #{id1}
		order by weekid
	</select>
	<select id="selectWeekQData_b_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where weekid between #{id1} and #{id2}
		order by weekid
	</select>
</mapper>
