<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.WeekHDataMapper">
	<select id="selectWeekHData_e_weekid" parameterType="DatePack" resultType="HistoryData">
		select * from anyquant.weekhdata_${siid}
		where weekid=#{id1}
	</select>
	<select id="selectWeekHData_le_weekid" parameterType="DatePack" resultType="HistoryData">
		select * from anyquant.weekhdata_${siid}
		where weekid &lt;= #{id1}
		order by weekid
	</select>
	<select id="selectWeekHData_num_weekid" parameterType="DatePack" resultType="HistoryData">
		select * from anyquant.weekhdata_${siid}
		where weekid between #{id1}-#{num}+1 and #{id1}
		order by weekid
	</select>
	
	<select id="selectWeekHData_b_date" parameterType="DatePack" resultType="HistoryData">
		select * from anyquant.weekhdata_${siid}
		where date between #{date1} and #{date2}
		order by weekid
	</select>
	
</mapper>