<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.WeekQDataMapper">
	<update id="dropAll" parameterType="List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			drop table anyquant.weekQData_${item}
		</foreach>
	</update>
	<update id="createWeekQDataTable" parameterType="String">
		create table anyquant.WeekQData_${value}
		(
			weekid int(11) not null primary key,
			date date not null,
			m5 double default 0,
			m10 double default 0,
			m20 double default 0,
			m30 double default 0,
			bias5 double default 0,
			bias10 double default 0,
			bias20 double default 0,
			boll1 double default 0,
			boll2 double default 0,
			boll3 double default 0,
			rsi double default 0,
			rsi5 double default 0,
			rsi10 double default 0,
			rsi20 double default 0,
			vr double default 0,
			rsv double default 0,
			k double default 50,
			d double default 50,
			j double default 0,
			ema12 double default 0,
			ema26 double default 0,
			ema50 double default 0,
			ema5 double default 0,
			ema35 double default 0,
			ema10 double default 0,
			ema60 double default 0,
			diff double default 0,
			dea double default 0,
			macd double default 0,
			dmh double default 0,
			dml double default 0,
			tr double default 0,
			dmh12 double default 0,
			dml12 double default 0,
			tr12 double default 0,
			dih double default 0,
			dil double default 0,
			dih12 double default 0,
			dil12 double default 0,
			dx double default 0,
			adx double default 0,
			adxr double default 0,
			obv double default 0,
			roc12 double default 0,
			roc25 double default 0
		)
	</update>
	<update id="dropWeekQDataTable" parameterType="String">
		drop table anyquant.WeekQData_${value}
	</update>
	
	<insert id="insertWeekQData_single" parameterType="QuotaDataPack">
		insert into anyquant.WeekQdata_${siid}
		(weekid,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25)
		values(#{quotaData1.id},#{quotaData1.date},#{quotaData1.m5},#{quotaData1.m10},#{quotaData1.m20},#{quotaData1.m30},
			#{quotaData1.bias5},#{quotaData1.bias10},#{quotaData1.bias20},#{quotaData1.boll1},#{quotaData1.boll2},#{quotaData1.boll3},
			#{quotaData1.rsi},#{quotaData1.rsi5},#{quotaData1.rsi10},#{quotaData1.rsi20},#{quotaData1.vr},#{quotaData1.rsv},#{quotaData1.k},#{quotaData1.d},#{quotaData1.j},
			#{quotaData1.ema12},#{quotaData1.ema26},#{quotaData1.ema50},#{quotaData1.ema5},#{quotaData1.ema35},#{quotaData1.ema10},#{quotaData1.ema60},
			#{quotaData1.diff},#{quotaData1.dea},#{quotaData1.macd},
			#{quotaData1.dmh},#{quotaData1.dml},#{quotaData1.tr},#{quotaData1.dmh12},#{quotaData1.dml12},#{quotaData1.tr12},#{quotaData1.dih},#{quotaData1.dil},#{quotaData1.dih12},#{quotaData1.dil12},#{quotaData1.dx},#{quotaData1.adx},#{quotaData1.adxr},
			#{quotaData1.obv},#{quotaData1.roc12},#{quotaData1.roc25})
	</insert>
	<insert id="insertWeekQData_list" parameterType="QuotaDataPack">
		insert into anyquant.WeekQdata_${siid}
		(weekid,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25)
		values
			<foreach collection="list" item="quotaData" index="index" separator="," >  
				(#{quotaData.id},#{quotaData.date},#{quotaData.m5},#{quotaData.m10},#{quotaData.m20},#{quotaData.m30},
			#{quotaData.bias5},#{quotaData.bias10},#{quotaData.bias20},#{quotaData.boll1},#{quotaData.boll2},#{quotaData.boll3},
			#{quotaData.rsi},#{quotaData.rsi5},#{quotaData.rsi10},#{quotaData.rsi20},#{quotaData.vr},#{quotaData.rsv},#{quotaData.k},#{quotaData.d},#{quotaData.j},
			#{quotaData.ema12},#{quotaData.ema26},#{quotaData.ema50},#{quotaData.ema5},#{quotaData.ema35},#{quotaData.ema10},#{quotaData.ema60},
			#{quotaData.diff},#{quotaData.dea},#{quotaData.macd},
			#{quotaData.dmh},#{quotaData.dml},#{quotaData.tr},#{quotaData.dmh12},#{quotaData.dml12},#{quotaData.tr12},#{quotaData.dih},#{quotaData.dil},#{quotaData.dih12},#{quotaData.dil12},#{quotaData.dx},#{quotaData.adx},#{quotaData.adxr},
			#{quotaData.obv},#{quotaData.roc12},#{quotaData.roc25})
		   	</foreach>
   	</insert>

	<delete id="deleteWeekQData_e_date" parameterType="DatePack">
		delete from anyquant.WeekQdata_${siid}
		where date=#{date1}
	</delete>
	
	<select id="countWeekQData_b_date" parameterType="DatePack" resultType="int">
		select count(*) from anyquant.WeekQdata_${siid}
		where date &gt;= #{date1} and date &lt;= #{date2}
	</select>
	<select id="selectWeekQData_num_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		<where> 
			(
				select max(weekid) from anyquant.WeekQdata_${siid}
				where date &lt;= #{date1}
			) between weekid and weekid+#{num}-1
		</where>
		order by weekid
	</select>
	<select id="selectWeekQData_e_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date=#{date1}
	</select>
	<select id="selectWeekQData_ge_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &gt;= #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_le_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &lt;= #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_g_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &gt; #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_l_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &lt; #{date1}
		order by weekid
	</select>
	<select id="selectWeekQData_b_date" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where date &gt;= #{date1} and date &lt;= #{date2}
		order by weekid
	</select>
	
	<select id="selectWeekQData_num_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where weekid between #{id1}-#{num}+1 and #{id1} 
		order by weekid
	</select>
	<select id="selectWeekQData_e_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where weekid = #{id1}
	</select>
	<select id="selectWeekQData_le_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where weekid &lt;= #{id1}
		order by weekid
	</select>
	<select id="selectWeekQData_b_weekid" parameterType="DatePack" resultType="QuotaData">
		select weekid as id,date,m5,m10,m20,m30,bias5,bias10,bias20,
			boll1,boll2,boll3,rsi,rsi5,rsi10,rsi20,vr,rsv,k,d,j,
			ema12,ema26,ema50,ema5,ema35,ema10,ema60,
			diff,dea,macd,
			dmh,dml,tr,dmh12,dml12,tr12,dih,dil,dih12,dil12,dx,adx,adxr,
			obv,roc12,roc25 from anyquant.WeekQdata_${siid}
		where weekid between #{id1} and #{id2}
		order by weekid
	</select>
</mapper>
