*{
	margin:0;
	padding:0;
	font-family:"Microsoft YaHei";
}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
html{
	overflow-x:hidden;
}
.head{
	position:fixed;
	top:0px;
	left:0px;
	height:40px;
	width:100%;
	z-index:9999;
}
.bodycontent{
	position:absolute;
	top:40px;
	left:0px;
	right:0px;
	bottom:20px;
	height:100%;
	width:100%;
	z-index: 1; 
}
.footer{
	position:fixed;
	top:97%;
	left:0px;
	height:20px;
	min-height:20px;
	width:100%;
	z-index:9999;
}