*{
	margin:0;
	padding:0;
	font-family:"Microsoft YaHei";
}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
html{
	overflow-x:hidden;
}

.head{
	position:fixed;
	top:0px;
	left:0px;
	height:40px;
	width:100%;
	z-index:9999;
}
.bodycontent{
	position:absolute;
	top:40px;
	left:0px;
	right:0px;
	bottom:20px;
	height:100%;
	width:100%;
	z-index: 1; 
}
.footer{
	position:fixed;
	top:97%;
	left:0px;
	height:20px;
	min-height:20px;
	width:100%;
	z-index:9999;
}
#back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: rgba(120, 148, 212, 70);
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    z-index: 1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: none;
}

#back-to-top:hover {
    background-color: #5678C4;
}

#back-to-top i {
    width: 30px;
    height: 30px;
    line-height: 30px;
}