.container{
	position:relative;
	margin-top: 50px;
}

.bg{
	width:100%;
	min-width:768px;
 	margin:auto;
 	margin-top:0px;
	z-index: 0;
}

.bgw{
	position:relative;
	width:350px;
 	clear: both;
 	display: block;
 	margin:auto;
 	margin-top:-350px;
	z-index: 1;
}
.lt{
	position:relative;
	width:350px;
 	clear: both;
 	display: block;
 	margin:auto;
 	margin-top:170px;
}