div.card{
	position:absolute;
	width:200px;
	height:100px;
	top:110px;
}

div.pinkCard{
	left:80px;
	color: white;
	border-top-right-radius:10px; 
	border-top-left-radius:10px; 
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    background-color: #d9544f;
}

div.greenCard{
	left:330px;
	color:white;
	background-color: #16a085;
	border-top-right-radius:10px; 
	border-top-left-radius:10px; 
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

div.blueCard{
	left:580px;/*segment is 40px*/
	color:white;
	border-top-right-radius:10px; 
	border-top-left-radius:10px; 
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	background-color: #418bca;
	
}



div.grayCard{
	left:830px;
	color:white;
	background-color: #3f4e62;
	border-top-right-radius:10px; 
	border-top-left-radius:10px; 
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

div.orangeCard{
	left:1080px;
	color:white;
	background-color: #1693a5;
	border-top-right-radius:10px; 
	border-top-left-radius:10px; 
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

.card small{
	font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    position:absolute;
    top:20px;
    left:90px;
}

.card h2{
	font-family: "Roboto", "Arial", sans-serif;
    font-weight: 350;
    position:absolute;
    font-size:35px;
    color:white;
    border:none;
    top:25px;
    left:90px;
}

.card img{
	position:absolute;
	top:13px;
	left:13px;
	width:75px;
	height:75px;
}


